future == 0.15.2
geographiclib == 1.44
geopy == 1.11.0
mock == 1.0.1
optirx == 0.3
pytest == 2.8.0
rasterio == 0.25.0
requests == 2.7.0
scipy == 0.16.0
simplejson == 3.8.0
Quaternion == 0.03.1
msgpack_python == 0.4.6
pynmea == 0.6.0
pyzmq == 14.7.0


# Need to install these by hand!
# GDAL==2.0.0
# matlabengineforpython===R2015a
# matplotlib==1.4.3
# numpy==1.9.2
