--allow-all-external
zmq
affine==1.2.0
alabaster==0.7.2
altgraph==0.12
awscli==1.7.22
Babel==2.0
--allow-unverified backports==1.0
backports.ssl-match-hostname==3.4.0.2
bcdoc==0.13.0
Beaker==1.7.0
botocore==0.103.0
--allow-unverified Cartopy===0.12.x
certifi==2015.9.6.2
click==4.1
cligj==0.2.0
colorama==0.3.3
Cython==0.23.1
decorator==4.0.2
docutils==0.12
ecdsa==0.13
enum34==1.0.4
FireWorks==1.1.3
Flask==0.10.1
flask-paginate==0.3.2
functools32==3.2.3.post1
geographiclib==1.44
ipython==3.2.1
itsdangerous==0.24
Jinja2==2.7.3
jmespath==0.6.2
jsonschema==2.5.1
lxml==3.4.1
macholib==1.7
Mako==1.0.2
MarkupSafe==0.23
mistune==0.5
mock==1.0.1
modulegraph==0.12.1
monty==0.6.5
Mosek==7.1.34
msgpack-python==0.4.6
networkx==1.10
nose==1.3.1
numpy==1.9.2
odespy==0.3.0
optirx==0.3
OWSLib==0.9.0
paramiko==1.15.2
pep8==1.6.2
Pillow==2.9.0
protobuf==2.6.1
psycopg2==2.6.1
py2app==0.9
pyasn1==0.1.8
pycairo==1.10.0
pycrypto==2.6.1
pyepsg==0.2.0
pygame===1.9.1release
Pygments==2.0.2
pymatbridge==0.5.2
pymongo==3.0.3
pyobjc-core==3.0.1
pyobjc-framework-Cocoa==3.0.1
PyOpenGL==3.1.0
PyOpenGL-accelerate==3.1.0
pyparsing==2.0.3
pypid==0.4
pyqtgraph==0.9.10
PyQuadStick==0.1
PySDL2==0.9.3
pyserial==2.7
pyshp==1.2.1
PySide==1.2.2
pyspatialite==3.0.1a0
python-dateutil==2.4.2
pytz==2015.4
pyusb==0.4.3
pyusbg2==2.0.0a1
PyYAML==3.11
pyzmq==14.7.0
Quaternion==0.3.1
rasterio==0.25.0
readline==6.2.4.1
requests==2.7.0
roman==2.0.0
rsa==3.1.4
scapy==2.3.1
ScientificPython==2.9.4
scipy==0.16.0
Shapely==1.5.11
simplejson==3.8.0
six==1.9.0
snowballstemmer==1.2.0
snuggs==1.3.1
Sphinx==1.3.1
sphinx-rtd-theme==0.1.7
Tkinter==0.0.0
tornado==4.2.1
Twisted==15.4.0
urwid==1.3.1.dev0
vboxapi==1.0
virtualenv==13.0.3
Werkzeug==0.10.4
zope.interface==4.1.2

# Need to install these by hand!
# GDAL==2.0.0
# matlabengineforpython===R2015a
# matplotlib==1.4.3
